body {
	width: 960px;
	margin: auto;
}
.menu a {
	color: rgba(41, 41, 41, 0.48);
	text-decoration: none; 
	letter-spacing: 1px;
	padding: 0 20px;
	border-left: 1px dotted white;
}
.menu {
	background-color: rgba(156, 200, 255, 0.28);
	border: 4px inset rgba(0, 208, 255, 0.75);
	position: relative;
	left: auto;
	width: 950px;
}
.menu a:hover {
	color: white;
	background-color: gray;
	border: 1px solid gray;
	text-decoration: none;
	font-style: italic;
}

.menu a:active {
	color: red;
}
.uploadFile {
	width: 25%;
}
.uploadFile a {
	color: gray;
	text-decoration: none;
	position: relative;
	left: 0%;
}
a:hover {
	color: black;
	text-decoration: underline;
}
.uploadFile a:hover {
	padding: 3px;
	border: 1px solid black;
}
.upload {
	padding: 5% 0% 0% 35%;
}
.upload label {
	margin-right: 10px;
}
.upload label:hover {
	text-decoration: underline;
}
.login {
	padding: 5% 0% 0% 35%;
}
.login label {
	margin-right: 10px;
}
.login label:hover {
	text-decoration: underline;
}
.login button {
	background: rgba(156, 200, 255, 0.28);
	text-decoration: none;
	border: none;
	position: absolute;
    top: 150px;
    left: 495px;
    width: 270px;
	border-radius: 7px;
}
.login button:hover {
	cursor: pointer;
}
.login #password {
	margin-left: 5px;
}
.login label {
	padding: 7px 0 17px 0;
}
.registration {
	padding: 5% 0% 0% 35%;
}
.registration label {
	margin-right: 10px;
	padding: 10px 0 10px 0;
}
.registration label:hover {
	text-decoration: underline;
}
.registration .submit {
	background: rgba(156, 200, 255, 0.28);
	text-decoration: none;
	border: none;
	width: 233px;
	border-radius: 7px;
	margin-top: 10px; 
}
.registration .submit:hover {
	background: rgba(156, 200, 255, 0.4);
	cursor: pointer;
}
.registration #password {
	margin-left: 8px;
}
.registration #userlogin {
	margin-left: 40px;
}
.registration #email {
	margin-left: 37px;
}
.registration div {
	margin-top: 10px;
}